<%= form_for(@changelist) do |f| %>
  <% if @changelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@changelist.errors.count, "error") %> prohibited this changelist from being saved:</h2>

      <ul>
      <% @changelist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :p4number %><br />
    <%= f.text_field :p4number %><br />
    <%= f.label :branches %>(1: trunk, 2: releaes, 3: both)<br />
    <%= f.text_field :branches %><br />
    <%= f.label :status %> (new/processed)<br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
